* {
    box-sizing: border-box;
}

body {
    background-image: url("tree_bark.png");
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    margin: 0;
}

a {
    font-weight: 400;
}

.form-container {
    background-color: white;
    height: 5vh;
}

.bgimg {
    position:fixed;
    top: 0;
    left: 0;
    width: 1450px;
    height: 100vh;
    z-index:-1;
    opacity:1;
}

.greeting {
    color:black;
    text-shadow: 1px 1px 3px rgba(255,255,255, .5);
    text-align: center;
}

.wikipedia-container {
    float: right;
    width: 50%;
    padding: 20px;
    padding-bottom: 4px;
    margin-right: 0;
    background-color: rgba(255,255,255,0.7);
}

#wikipedia-links {
    padding-left: 0;
}

.nytimes-container {
    padding: 20px;
    width: 50%;
    margin-right:30px;
    background-color: rgba(255,255,255,0.7);
}

.article-list {
    margin: 0;
    padding: 0;
}

.article {
    list-style-type: none;
    padding: 10px;
    border-top: 1px solid #CCC;
}

.article:first-child {
    border-top:none;
}

h2 {
    font-family: 'IM Fell English', serif;
    font-size: 2.5em;
}

.form-content {
    padding-top: 10px;
    padding-left: 10px;
}

hr {
    margin: 0;
}

@media (max-width : 1025px) {
    
    .nytimes-container {
        width: 100%;
    }
    
    .wikipedia-container {
        width: 100%;
        float: none;
    }
    
    .bgimg {
        width: 769px;
    }
    
    .form-container {
        text-align: center;
    }
    
    .form-content {
        padding-top: 5px;
    }
    
    input {
        width: 25%;
    }
}
